/* 
Alexandr Balan
11/6/25
Grid Color Blocks Assignment
styles.css
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-auto-rows: 20%;
    width: 100%;
    height: 100%;
    gap: 1%;
    box-sizing: border-box;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border: 0.2vw solid black;
    text-transform: uppercase;
}


.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    grid-column: 1 / span 2;
    position: relative;
}

.blue {
    background-color: blue;
    grid-column: 3;
}

.indigo {
    background-color: magenta;
    grid-column: 1 / span 2;
}

.violet {
    background-color: purple;
    grid-column: 3;
}

.black {
    background-color: black;
    grid-column: 1 / span 3;
}


/* extra challenge for when i finish */
.extra {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    display: grid;
    gap: 2%;
}